@model GroupViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <div>
        @if (!Model.IsMember)
        {
            using (Html.BeginForm("JoinGroup", "Groups", new { groupId = Model.Id, groupLink = Model.Link }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Join Group" class="btn btn-success" />
            }
        }
        else
        {
            using (Html.BeginForm("LeaveGroup", "Groups", new { groupId = Model.Id, groupLink = Model.Link }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Leave Group" class="btn btn-danger" />
            }
            @Html.RouteLink("Photostreams management", "MyPhotoStreams", new { id = Model.Id, link = Model.Link })
        }
    </div>
    <br />
    <div>
        @Html.ActionLink("Back to List", "MyGroups")
    </div>
</div>