@using Microsoft.Owin.Security
@using System.Linq
@model PhotoStreamsListViewModel
@{
    ViewBag.Title = "MyPhotoStreams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your photostreams in group: @Model.GroupName</h2>

<table class="table" id="PhotoStreamsTable">
    @foreach (var item in Model.PhotoStreams)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @using (Html.BeginForm("DeletePhotoStream", "Groups", 
                    new { streamId = item.Id,  returnGroupId = Model.GroupId, returnGroupLink = Model.GroupName }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger" value="Delete" />
                }
            </td>
        </tr>
    }
    <tr>
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            using (Html.BeginForm("AddPhotoStream", "Groups", new { returnGroupId = Model.GroupId, returnGroupLink = Model.GroupName }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("GroupId", Model.GroupId)
                <td>
                    @Html.DropDownList("Provider", loginProviders.Select(it => new SelectListItem { Text = it.Caption, Value = it.Caption }).ToList())
                </td>
                <td>
                    @Html.TextBox("Url")
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Add" />
                </td>
            }
        }
    </tr>

</table>

@Html.RouteLink("Back", "GroupDetails", new { id = Model.GroupId, link = Model.GroupName })
