@model PhotoStreamsListViewModel
@{
    ViewBag.Title = "MyPhotoStreams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Group: @Model.GroupName</h2>

<table class="table" id="PhotoStreamsTable">
    @foreach (var item in Model.PhotoStreams)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @using (Html.BeginForm("DeletePhotoStream", "Groups", new { streamId = item.Id, groupId = Model.GroupId }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<br />

@Html.Partial("AddPhotoStreamPartial", new CreatePhotoStremViewModel { GroupId = Model.GroupId })

@Html.RouteLink("Back to group", "GroupDetails", new { id = Model.GroupId, link = Model.GroupName })
