@model PhotoSharer.Models.AppGroup
@{
    ViewBag.Title = "Group List";
}
<h1>@ViewBag.UserName</h1>

<div class="col-md-2">
    <div class="list-group">
        @Html.ActionLink("Group List", "Index", "Groups", new { @class = "list-group-item active" })
        @Html.ActionLink("Create Group", "CreateGroup", "Groups", new { @class = "list-group-item" })

    </div>
</div>

@if (Model == null)
{
    <div class="alert alert-warning col-md-10 col-sm-12" role="alert">You don`t stay in no one group </div>
}
else
{<div class="panel panel-default col-md-10 col-sm-12">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Name</h3>
        </div>
        <div class="panel-body">
            <h3> Creator : @Model.Creator.UserName</h3>

        </div>
    </div>
}

